# override the secrets configuration
secrets:
  pri_ria_db_username_secret:
    external: false
    file: ../secrets/ria_user.txt
  pri_ria_db_password_secret:
    external: false
    file: ../secrets/ria_pass.txt
  pri_gim_db_username_secret:
    external: false
    file: ../secrets/gim_user.txt
  pri_gim_db_password_secret:
    external: false
    file: ../secrets/gim_pass.txt
  pri_git_api_key_secret:
    external: false
    file: ../secrets/git_key.txt
    
services:
  # Override pifsc-resource-inventory configuration
  pifsc-resource-inventory:
    # specify the database network
    networks:
      - oracle-net
    build:
      # Explicitly set the folder containing the Dockerfile
      context: ../modules/PRI
      dockerfile: docker/Dockerfile
    depends_on:
      db:
        condition: service_healthy
    # define the mounted volumes for the PRI apps
    volumes:
      - "pri_logs:/usr/src/app/logs"
      - "../modules/PRI/docker/src/frontend:/var/www/html"
      - "../modules/PRI/docker/src/backend/GIM:/usr/src/app/GIM"
      - "../modules/PRI/docker/src/backend/RIA:/usr/src/app/RIA"
      - "../modules/PRI/docker/src/backend/shared:/usr/src/app/shared"
      - "../modules/PRI/modules/php-shared-library:/usr/src/app/dependencies"
      - "../modules/PRI/modules/php-shared-library:/var/www/html/res/php-shared-library"

  db-ords-deploy:
    # define the mounted volumes for the DB/Apex apps 
    volumes:
      - ../modules/DSC/SQL:/usr/src/DSC/SQL
      - ../modules/PRI/shared_SQL:/usr/src/PRI/shared_SQL
      - ../modules/PRI/RIA:/usr/src/PRI/RIA
      - ../modules/PRI/GIM:/usr/src/PRI/GIM
networks:
  oracle-net:
    name: oracle-net